extends swaggerbase

block content
    h1 #{parent}/#{method}

    each verb in Object.keys(info)
        +operationHeader(verb, info[verb])
        +operationParameters(info[verb].parameters)
        +operationResponses(info[verb].responses)

    a(href='index.html') Back
