extends swaggerbase

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block content
    h1 #{object}

    h3 Verbs
    each verb in Object.keys(info)
        if verb != 'methods'
            +operationHeader(verb, info[verb])
            +operationParameters(info[verb].parameters)
            +operationResponses(info[verb].responses)

    +operationMethods(info.methods)

    p &nbsp;

    a(href='../index.html') Back
    