extends swaggerbase

block content
    h1 #{object}

    h3 Verbs
    each verb in Object.keys(info)
        if verb != 'methods'
            +operationHeader(verb, info[verb])
            +operationParameters(info[verb].parameters)
            +operationResponses(info[verb].responses)

    +operationMethods(info.methods)

    a(href='../index.html') Back
    