extends core

block body
    h1 #{object}
    if info["post"]
        div #{summary}
        div Parameters
            ul
                each item in info["post"].parameters
                    li #{item.name}
    a(href='../index.html') Back
    if info
        div #{info.get}
    